<form method="post" action="/users" data-turbo="false">
  <label for="username">Username</label>
  <input type="text" name="username"/><br><br>

  <label for="password">Password</label>
  <input type="password" name="password"/><br><br>

  <label for="email">Email</label>
  <input type="text" name="email"/><br><br>

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <input type="submit">
</form>>
